{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='styles/index.css')}}" rel="stylesheet"/>{% endblock %}
{% block js %}<script defer src="{{ url_for('static', filename='scripts/index.js')}}"></script>{% endblock %}

{% block main %}
<div class="container" id="main_container">
    <div class="title">청원 인사이드에 오신 걸 환영합니다.</div>
    <div class="best">
        <div class="best_top">
            <p>베스트 Top 5 글</p>
            <div id="best_top_button_cell">
                <a href="/list/1" style="text-decoration:none; color: inherit;">
                    <button class="button" id="list_button">글 보러 가기</button>
                </a>
                <a href="/write" style="text-decoration:none; color: inherit;">
                    <button class="button" id="write_button">작성</button>
                </a>
            </div>      
        </div>
        <div class="best_body">
            {% for post in posts %}
            <a href="/post/{{ post._id }}" style="text-decoration: none; color: inherit;">
                <div class="post_cell">
                    <div class="post_sub_cell">
                        <p class="post_title">
                            {% if (post.type == "none") %}
                            {{ post.title }}
                            {% else %}
                            [{{ post.type }}] {{ post.title }}
                            {% endif %}
                        </p>
                        <p class="post_user">{{ post.user_id }}</p>
                        {% if (post.manager == "orange") %}
                        <img src="{{ url_for('static', filename='img/orange_small.png') }}" alt="" class="manager_icon orange_icon">
                        {% elif (post.manager == "blue") %}
                        <img src="{{ url_for('static', filename='img/blue_small.png') }}" alt="" class="manager_icon blue_icon">
                        {% endif %}
                    </div>
                    <p class="post_gaechoo">추천 : {{ post.gaechoo }}</p>
                    <p class="post_id" hidden>{{ post._id }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="test_time">
        <p>다음 시험까지</p>
        <p id="test_timer">로딩 중...</p>
        <p>남음</p>
    </div>
    <div class="mogo_time">
        <p>다음 모의고사까지</p>
        <p id="mogo_timer">로딩 중...</p>
        <p>남음</p>
    </div>
    <div class="final_test_time">
        <p>수능까지</p>
        <p id="final_test_timer">로딩 중...</p>
        <p>남음</p>
    </div>
</div>
<div class="container" id="patch_container">
    <p>최근 패치 내용</p>
    <p>- 개추 시스템 버그 수정, 이미지 기능 시스템 개편 (08/07)</p>
    <p>- 익명 시스템, 글 말머리 시스템 추가, 조회수 복사 버그 수정, 주딱 & 파딱 추가, 모바일 친화적 구조 추가, 말머리 필터 추가 (08/08)</p>
    <p>- 이모티콘 (동방 짭창고콘 1) 추가 (현재 댓글에서만 사용 가능), 공지 탭 만듦 (08/10)</p>
</div>
{% endblock %}