{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='styles/list.css')}}" rel="stylesheet"/>{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='scripts/list.js')}}"></script>{% endblock %}

{% block main %}
<div class="container" id="main_container">
    <div class="top">
        <div class="top_left">
            <p class="container" style="padding: 0.5em;">게시물 목록 ({{ count }}개)</p>
            <select name="type" id="type_select" style="padding: .5em 1em .5em 1em;" onchange="onCategoryChange(this)">
                <option value="none" {% if not category or category == "none" %}selected{% endif %}>말머리 선택</option>
                <option value="talk" {% if category == "talk" %}selected{% endif %}>잡담</option>
                <option value="picture"{% if category == "picture" %}selected{% endif %}>짤</option>
                <option value="school"{% if category == "school" %}selected{% endif %}>학교</option>
                <option value="game"{% if category == "game" %}selected{% endif %}>게임</option>
                <option value="politics"{% if category == "politics" %}selected{% endif %}>정치</option>
            </select>
        </div>
        <a href="/write">
            <button id="write_button">글 작성하기</button>
        </a>
    </div>
    <div>
        {% for post in posts %}
        <a href="/post/{{ post._id }}" style="text-decoration:none; color: inherit;">
            <div class="post">
                <div class="title_cell"><p class="title_text">
                    {% if (post.type == "none") %}
                    {{ post.title }}
                    {% else %}
                    [{{ post.type }}] {{ post.title }}
                    {% endif %}
                </p></div>
                <div class="unix_time_cell"><p class="unix_time_text">{{ post.unix_time }}</p></div>
                <div class="name_cell">
                    <p class="name_text">{{ post.user_id }}</p>
                    {% if (post.manager == "orange") %}
                    <img src="{{ url_for('static', filename='img/orange_small.png') }}" alt="" class="manager_icon orange_icon">
                    {% elif (post.manager == "blue") %}
                    <img src="{{ url_for('static', filename='img/blue_small.png') }}" alt="" class="manager_icon blue_icon">
                    {% endif %}
                </div>
                <div class="prpt_cell">
                    <p class="view_text">조회수 : {{ post.views }}</p>
                    <p class="gaechoo_text">추천 : {{ post.gaechoo }}</p>
                </div>
                <input type="hidden" name="_id" value="{{ post._id }}">
            </div>
        </a>
        {% endfor %}
    </div>
    <div id="button_cell">
        {% if (page-1 != 0) %}
        <a href="/list/{{ page-1 }}">
            <button class="button" id="left_button">&lt;</button>
        </a>
        {% endif %}
        <div class="container" id="page_container">
            <p id="page_num">{{ page }}</p>
        </div>
        <a href="/list/{{ page+1 }}">
            <button class="button" id="right_button">&gt;</button>
        </a>
    </div>
</div>
{% endblock %}