{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='styles/login.css')}}" rel="stylesheet"/>{% endblock %}

{% block main %}
<div class="container">
    Log In
    <form action="/request_login" method="POST" id="login-form">
        <input type="text" class="select_container" name="num" placeholder="학번 (ex. 2101)" autocomplete="off" required>
        <input type="text" class="select_container" name="name" placeholder="이름 (실명)" autocomplete="off" required>
        <input type="password" class="select_container" name="password" placeholder="비밀번호" autocomplete="off" required>
        <button type="submit" class="button">로그인</button>
    </form>
    <form action="/signup" method="post" id="no-account-form">
        <button type="submit">계정을 만들지 않았나요?</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="flash_text">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}