{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}<link href="{{ url_for('static', filename='styles/post.css')}}" rel="stylesheet"/>{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='scripts/post-gaechoo.js')}}"></script>
<script defer src="{{ url_for('static', filename='scripts/post-con.js')}}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <div id="button_cell">
        <a href="/list/1" style="text-decoration:none; color: inherit;">
            <button type="submit" id="back_button" class="button">&lt;</button>
        </a>
        {% if (session["_id"] == post.user_id) %}
        <a href="/edit_post/{{ post._id }}" style="text-decoration: none; color: inherit;">
            <button type="submit" id="edit_button" class="button">수정</button>
        </a>
        {% endif %}
    </div>
    <div class="title_cell">
        <p class="title">
            {% if (post.type == "none") %}
            {{ post.title }}
            {% else %}
            [{{ post.type }}] {{ post.title }}
            {% endif %}
        </p>
        <div class="user_cell">
            <p class="user">{{ post.user_name }}</p>
            {% if (post.manager == "orange") %}
            <img src="{{ url_for('static', filename='img/orange_small.png') }}" alt="" class="manager_icon orange_icon">
            {% elif (post.manager == "blue") %}
            <img src="{{ url_for('static', filename='img/blue_small.png') }}" alt="" class="manager_icon blue_icon">
            {% endif %}
        </div>
        <p class="view_text">조회수 : {{ post.views }}</p>
        <p class="unix_time">{{ post.unix_time }}</p>
    </div>
    <div class="content_cell">
        {{ post.content.replace('\n', '<br>') | safe }}
    </div>
    <div class="gaechoo_cell">
        <p class="gaechoo">{{ post.gaechoo }}</p>
        <form action="/like/{{ post._id }}" method="post" onsubmit="return throttleSubmit(this)">
            <button type="submit" class="gaechoo_button" id="gaechoo_button">추천</button>
        </form>
    </div>
    <div class="comment_list_cell">
        <p id="dummy1">댓글</p>
        {% for comment in comments %}
        <div class="comment_cell">
            <div class="comment_title_cell">
                <p class="comment_user">{{ comment.user_id }}</p>
                <p class="comment_unix_time">{{ comment.unix_time }}</p>
            </div>
            <div class="comment_content_cell">
                <p class="comment_content">{{ comment.content.replace('\n', '<br>') | safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <form action="/write_comment/{{ post._id }}" method="post" id="comment_form">
        <div class="comment_write_cell">
            <div id="comment_content" contentEditable="true"></div>
            <input type="hidden" name="content" id="content_input">
            <div id="comment_button_cell">
                <div id="con_cell">
                    <select name="con_select" id="con_select">
                        <option value="none">이모티콘</option>
                        <option value="touhou1">동방 짭창고콘 1</option>
                    </select>
                    <div id="con_img_cell" class="container"></div>
                </div>
                <button type="submit" id="comment_button">작성</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}