{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='styles/write.css')}}" rel="stylesheet"/>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
{% endblock %}

{% block js %}
<script defer src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script defer src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
<script src="{{ url_for('static', filename='scripts/write.js')}}"></script>
{% endblock %}

{% block main %}
<div class="container">
    <form action="/post_action" id="post_form" method="POST">
        <p class="dummy">글 작성</p>
        <input type="text" name="title" placeholder="글 제목을 입력해주세요." required>
        <div id="editor"></div>
        <input type="hidden" name="content" id="content"></textarea>
        <button type="submit" onsubmit="this.disabled=true;">게시</button>
    </form>
</div>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p style="color: rgba(0,0,0,0.5); font-size: 0.7em; margin: 0; font-family: 'MaruBuri', 'Courier New', Courier; font-size: 0.75em;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}