{% extends "base.html" %}

{% block title %}{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='styles/write.css')}}" rel="stylesheet"/>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
{% endblock %}

{% block js %}
<script defer src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script defer src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
<script defer src="{{ url_for('static', filename='scripts/write.js')}}"></script>
<!-- <script defer src="{{ url_for('static', filename='scripts/write-con.js')}}"></script> -->
{% endblock %}

{% block main %}
<div class="container">
    <form action="/post_action" id="post_form" method="POST">
        <p class="dummy">글 작성</p>
        <input type="text" name="title" placeholder="글 제목을 입력해주세요." id="title_text" class="select_container" required>
        <div id="editor"></div>
        <input type="hidden" name="content" id="content">
        <div id="button_cell">
            <div class="type_cell">
                <select name="type" id="type_select">
                    <option value="none">말머리 선택</option>
                    <option value="talk">잡담</option>
                    <option value="picture">짤</option>
                    <option value="school">학교</option>
                    <option value="game">게임</option>
                    <option value="politics">정치</option>
                    <option value="announcement">공지</option>
                </select>
            </div>
            <div class="checkbox_container container">
                <input type="checkbox" name="isAnonymous" id="anms_button">
                <label for="anms_button">익명으로 게시</label>
            </div>
        </div>
        <button type="submit" class="button" id="submit_button" onsubmit="this.disabled=true;">게시</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p style="color: rgba(0,0,0,0.5); font-size: 0.7em; margin: 1em 0 0 0; font-family: 'MaruBuri', 'Courier New', Courier; font-size: 0.75em;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}