@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(/html/font/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(/html/font/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(/html/font/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(/html/font/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(/html/font/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(/html/font/NotoSansKR-Black.otf) format('opentype');}

:root {
    --text-color: #080806;
    --background-color: #fafaf8;
    --primary-color: #9b9870;
    --secondary-color: #afc2a8;
    --accent-color: #8aad8a;
    --static-color: rgba(0, 0, 0, 0.1);
    --hover-color: rgba(0, 0, 0, 0.05);
}

body {
    padding-top: 0em;
    margin: 0;
    
    font-weight: 300;
    font-family: 'Noto Sans Kr', 'Noto Sans';
    color: var(--text-color);

    background-color: var(--background-color);
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 100vw;
    height: 3em;

    padding: 1em;
    border-bottom: solid 1px var(--static-color);
    box-shadow: 0 5px 20px var(--static-color);

    font-family: 'MaruBuri', 'Noto Sans Kr', 'Noto Sans';

    margin-bottom: 3em;
}

header .left {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    margin: 0;
}

header .left p {
    font-family: 'MaruBuri', 'Noto Sans K', 'Noto Sans';
    color: var(--text-color);
    font-size: clamp(10px, 2em, 30vw);
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 25em;
    padding-right: 25em;
    margin-bottom: 3em;

    color: var(--text-color);
    font-family: 'Noto Sans K', 'Noto Sans';
}

@media (max-width: 1200px) {
    header { margin-bottom: 5%; }
    main { padding-left: 5vw; padding-right: 5vw; }
    .left { letter-spacing: -0.1em; }
}

@media (max-width: 300px) {
    header { font-size: 5vw; }
}


#login {
    color: var(--text-color);

    -webkit-appearance: none;

    font-family: 'MaruBuri', 'Noto Sans K', 'Noto Sans';
    padding: 1em;
    background: transparent;
    border: solid 0px;
    border-radius: 1em;

    transition: all 0.25s;
    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        background-color: var(--background-color);
    }
}

#login button {
    text-align: end;
    color: var(--text-color);
}

#id_container {
    text-align: end;
    font-family: 'MaruBuri', 'Noto Sans K', 'Noto Sans';
    font-size: 1em;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

.container {
    border: solid 1px var(--static-color);
    border-radius: 0.5em;

    box-shadow: 0 0 20px var(--static-color);
}

.select_container {
    border: solid 1px var(--static-color);
    border-radius: 0.5em;
    box-shadow: 0 0 5px var(--static-color);

    background-color: var(--background-color);

    transition: all 0.25s;
    &:hover {
        background-color: var(--hover-color);
    }

    &:focus {
        outline: none;
        background-color: var(--background-color);
    }
}

.flash_text {
    color: rgba(0,0,0,0.5);
    font-size: 0.8em;
    text-shadow: 1px 1px 2px var(--static-color);
}

.button {
    border: 0;

    box-shadow: 0 0 5px var(--static-color);

    color: white;
    background-color: var(--secondary-color);

    transition: all 0.25s;
    &:hover {
        color: var(--background-color);
        background-color: var(--accent-color);
    }
}

.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_container label {
    cursor: pointer;
    display: flex;
}

.checkbox_container input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox_container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-top: 3px;
    margin-right: 0.5em;
    border: 0.05em solid var(--accent-color);
    box-shadow: 0 5px 20px var(--static-color);
}

.checkbox_container label:hover::before, .checkbox_container input[type="checkbox"]:hover + label::before {
    background-color: var(--secondary-color);
}

.checkbox_container input[type="checkbox"]:checked + label::before {
    content: '\002714';
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color)
}

select {
    font-family: 'Noto Sans K', 'Noto Sans';
    font-size: 1em;
    font-weight: 300;

    appearance: base-select;
    background-color: var(--background-color);
    color: var(--text-color);
    border: solid 1px var(--static-color);
    border-radius: 0.5em;

    box-shadow: 0 0 20px var(--static-color);

    transition: all 0.25s;
    &:hover {
        background-color: var(--hover-color);
    }

    padding: 0.5em;
}

::picker(select) { border: none; appearance: base-select; }

option {
    font-family: 'Noto Sans K', 'Noto Sans';
    font-size: .7em;
    font-weight: 400;

    display: flex;
    justify-content: flex-start;

    border: solid 1px var(--static-color);
    background: var(--background-color);
    padding: 0 .2em 0 .2em;

    transition: all 0.25s;
    &:hover { background-color: var(--hover-color); }

    &:first-of-type { border-radius: 8px 8px 0 0; }
    &:last-of-type { border-radius: 0 0 8px 8px; }
}