main .container {
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form * {
    font-family: 'Noto Sans K', 'Noto Sans';
    margin: 5px 0 5px 0;
    padding: 1em;
}

#login-form button { margin-top: 25px; border-radius: 0.5em; }

#no-account-form button{
    background: transparent;
    border: none;
    color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px var(--static-color);

    transition: all 0.25s;
    &:hover {
        color: var(--accent-color);
    }
}