main .container {
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-form * {
    font-family: 'Noto Sans K', 'Noto Sans';
    margin: 5px 0 5px 0;
    padding: 1em;
}

#signup-form button { margin-top: 25px; border-radius: 0.5em; }