@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf) format("truetype");
}

:root {
    --text-color: #080806;
    --background-color: #fafaf8;
    --primary-color: #9b9870;
    --secondary-color: #afc2a8;
    --accent-color: #8aad8a;
    --static-color: rgba(0, 0, 0, 0.1);
    --hover-color: rgba(0, 0, 0, 0.05);
}

body {
    padding-top: 0em;
    margin: 0;
    
    font-size: 15pt;
    font-weight: 100;
    font-family: 'MaruBuri', 'Courier New', Courier;
    color: var(--text-color);

    background-color: var(--background-color);
}


.top {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em;
    border-bottom: solid 1px var(--static-color);
    box-shadow: 0 5px 20px var(--static-color);
}

.top * {
    margin: 0 1em 0 0;
}