.container { padding: 1em; }
.container form { display: flex; flex-direction: column; }
.dummy { margin-top: 0; font-weight: 600; }

#title_text {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Noto Sans K', 'Noto Sans';
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-bottom: 0.5em;
}

#submit_button { border-radius: 0.5em; width: 6em; }

.toastui-editor {
    background-color: var(--background-color);
}

.toastui-editor-contents img { max-width: 100%; }

#editor { margin-bottom: 1em;}

#button_cell {
    /* display: flex;
    flex-direction: row;
    place-content: left; */
    margin-bottom: 1em;
}

.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_container label {
    cursor: pointer;
    display: flex;
}

.checkbox_container input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox_container label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    margin-top: 3px;
    margin-right: 0.5em;
    border: 0.05em solid var(--accent-color);
    box-shadow: 0 5px 20px var(--static-color);
}

.checkbox_container label:hover::before, .checkbox_container input[type="checkbox"]:hover + label::before {
    background-color: var(--secondary-color);
}

.checkbox_container input[type="checkbox"]:checked + label::before {
    content: '\002714';
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color)
}