.container { padding: 1em; }
.container form { display: flex; flex-direction: column; }
.dummy { margin-top: 0; font-weight: 600; }

#title_text {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Noto Sans K', 'Noto Sans';
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-bottom: 0.5em;
}

#submit_button { border-radius: 0.5em; width: 6em; }

.toastui-editor {
    background-color: var(--background-color);
}

.toastui-editor-contents img { max-width: 100%; }

#editor { margin-bottom: 1em; }

#button_cell {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 1em;
}

.checkbox_container {
    padding: 0 .5em 0 .5em;
    height: 2.5em;
}

.type_cell, .checkbox_container { min-width: 8em; }